In [28]:
import pandas as pd 
df = pd.DataFrame(columns=['Name','DB_size'])

with open("out.txt","r") as a_file:
    for line in a_file:
        i = 0 
        value = line.split()
        print(value)
        if  value[0] == "Name":
            df[[i][i]] = (value[1],value[3])
    
print(df)

['sidnfsd']
['Name', 'EM1DB', 'SIZE_IN_GB', '171.52GB']
[]

IndexError: list index out of range

In [30]:
strin = "this world is so lame!"
value = strin.split()
value[4]

if value[0]=='this':
    print("yep!!")

yep!!

In [34]:
import pandas as pd 


def filter(file):
    df = pd.DataFrame(columns=['Name','DB_size'])
    for line in file:
        if 'Name' in line:
            value=line.split()
            df=df.append({"Name":value[1],"DB_size":value[3]},ignore_index=True)
                
    return df

source = open("out.txt","r")
result = filter(source)
result

    Name   DB_size
0  EM1DB  171.52GB
1   MGMT   36.78GB